.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2c2c2c;
    transition: 0.5s;
    overflow-y: auto;
  }
  
  .sidebar.collapsed {
    width: 70px;
  }
  
  .sidebarItem {
    padding: 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
  
  }
  
  .sidebarItemIcon {
    margin-right: 16px;
  }
  
  .sidebarItem:hover {
    color: #f1f1f1;
  }